body {
    background-image: url("images/green-title-background.png");
    /*background-position: center; 
    background-repeat: no-repeat;*/
    user-select: none;
}

#box{
    width: 30px;
    height: 30px;
    background: url(images/golf-ball.png) no-repeat; 
    background-size: 100% 100%;
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 270px;
    /*margin-left: 50%;
    margin-top: 10%;*/
    /*display: inline-block;*/
    /*user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;*/
}

.Main-container {
  position: relative;
  max-width: 850px;
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
  /*border: 1px solid red;*/
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

div #green-background {
  z-index: 1;
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: 'Permanent Marker', cursive;
}

.text {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: 'Permanent Marker', cursive;
}

#theCount {
  margin-left: 65%;
  margin-top: 12%;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  user-select: none;
}